
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Users", "Users", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Vehicles", "Vehicles", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Makes", "Makes", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Models", "Models", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Specials", "Specials", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })

