@model GuildCars.Models.PageViewModels.VehicleImageViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-3">

        <h6>@Model.Vehicle.Year @Model.Vehicle.Make @Model.Vehicle.Model</h6>
        <img src="@Model.FilePath" @*onerror="this.src='../Images/PlaceHolder.jpg'"*@ style="width: 250px; height: auto;" />
    </div>

    <div class="col-md-3">
        Body Style: @Model.Vehicle.Style<br />
        Trans: @Model.Vehicle.Transmission<br />
        Color: @Model.Vehicle.Color<br />
    </div>

    <div class="col-md-3">
        Interior: @Model.Vehicle.Interior<br />
        Mileage: @Model.Vehicle.Mileage<br />
        VIN #: @Model.Vehicle.Vin<br />
    </div>
    <div class="col-md-3">
        Sale Price: $@Model.Vehicle.SalePrice<br />
        MSRP: $@Model.Vehicle.MSRP<br />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-10 text-center">Description: @Model.Vehicle.Description</div>
</div>

<a href="http://localhost:56259/Home/Contact/@Model.Vehicle.Vin" class="btn btn-dark">Contact</a>